.icon {
    display: block;
    color: rgb(44, 44, 44);
  }

.subheading {
    color: rgb(44, 44, 44);
}

.button-link {
    color: white;
    transition: 0.3s ease;
}

.button-link:hover {
    color: orange;
    transform: scale(1.05, 1.05);
}
